body {
    display: flexbox;
    margin: 0px;
    text-align: center;
}

.Title {
    font-size: 40px;
    color: rgb(213, 57, 135);
}

.Time {
    float: right;
    padding-right: 10px;
    margin-bottom:20%;
}

.Viewhighscores {
    float: left;
    padding-left: 10px;
    margin-bottom:20%;
}

.Page1Para {
    text-align: center;
    margin-top:5%;
}

.Startquiz {
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

button {
    border-radius: 10%;
    background-color: rgb(47, 115, 176);
}