body {
    display: flexbox;
    margin: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
}

.Title {
    object-position: center;
    font-size: 40px;
    color: rgb(213, 57, 135);
}

#Timer {
    float: right;
    padding-right: 15px;
    margin-bottom:20%;
    margin-top: 2%;
}

.Viewhighscores {
    float: left;
    margin-top: 2%;
    padding-left: 15px;
    margin-bottom:20%;
}

#Welcome {
    font-size: 25px;
    color: rgb(21, 123, 201);
}

.Page1Para {
    text-align: center;
    margin-top:5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

button {
    border-radius: 10%;
    background-color: rgb(47, 115, 176);
    object-position: center;
}

.optionbtns {
    display: grid;
    gap: 15px;
    margin: 20px;
}

.displayanswer {
    margin: 20px 0;
    font-style: italic;
    text-align: center;
    color: rgb(158, 156, 156);
}

#questionanswers {
    display: none;
}

#nameScorepage {
    display: none;
}

#high-scores {
    display: none; 
}

.StartQuizbtn {
    margin: 10px 0;
}

#nextbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input[type="text"] {
    padding: 5px;
    margin: 10px 0;
    border-radius: 10%;
    box-sizing: border-box;
  }

.highscoreheader {
    font-size: 30px;
    color: rgb(213, 57, 135);
}

.listhighscoreslocalstorage {
    display: grid;
    gap: 15px;
    margin: 20px;
}

@media screen and (max-width: 400px) {
    .btn-grid {
      grid-template-columns: repeat(1, auto);
      gap: 0;
      margin: 0;
    }
  }